# Numerical and image packages (updated for TF2)
numpy==1.19.5
scipy==1.5.4
pillow==8.4.0
scikit-image==0.18.3
opencv-python==4.5.5.64
cython==0.29.24
openpyxl==3.0.9

# TensorFlow 2.x (stable for RPi / old systems)
tensorflow==2.5.0

# Debugging and utility
ipdb==0.13.9
absl-py==0.13.0
six==1.15.0

# Optimization / 3D / visualization
cvxpy==1.1.15
#ecos==2.0.7.post1
vtk==9.0.1
traits==6.3.1
#opendr==0.78